<h1>Enter a word and a list of possible anagrams</h1>
<form action='/anagram_result'>
  <div class='form-group'>
    <label for='anagram_entered'>Words separated by a space</label>
    <input id='anagram_entered' name='anagram_entered' class='form-control' type='text'>
  </div>
  <button type="submit" class = "btn-danger">DO IT!</button>
</form>
